:root{
    font-size:16px;
}

.system{
    font-family: 'fragment-mono';
    font-size:0.9rem;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@font-face{
    font-family: 'authentic-sans';
    src: url('../fonts/authentic-sans-90.woff2');
}

@font-face{
    font-family: 'authentic-sans';
    src: url('../fonts/authentic-sans-130.woff2');
    font-weight:600;
}


@font-face{
    font-family: 'fragment-mono';
    src: url('../fonts/fragment-mono-regular.ttf');
}

@font-face{
    font-family: 'fragment-mono';
    src: url('../fonts/fragment-mono-regular-italic.ttf');
    font-style:italic;
}